<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>feeds</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/FE/ErrorPages/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/FE/ErrorPages/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/FE/ErrorPages/403.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>BookingManagementController</servlet-name>
        <servlet-class>Controller.Admin.BookingManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingManagementController</servlet-name>
        <url-pattern>/manage/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingManagementController</servlet-name>
        <url-pattern>/manage/booking/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthorizationManagementController</servlet-name>
        <servlet-class>Controller.Admin.AuthorizationManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationManagementController</servlet-name>
        <url-pattern>/manage/authorization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationManagementController</servlet-name>
        <url-pattern>/manage/authorization/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationManagementController</servlet-name>
        <url-pattern>/manage/authorization/add</url-pattern>
    </servlet-mapping>
</web-app>